<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetCore.Properties.Settings>
            <setting name="address_broker" serializeAs="String">
                <value>test.mosquitto.org</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="topic" serializeAs="String">
                <value>/vule/projects/monitor</value>
            </setting>
            <setting name="caption_windown" serializeAs="String">
                <value>Optel</value>
            </setting>
            <setting name="class_textbox" serializeAs="String">
                <value>WindowsForms10.EDIT.app.0.141b42a_r7_ad1</value>
            </setting>
            <setting name="class_button" serializeAs="String">
                <value>WindowsForms10.BUTTON.app.0.141b42a_r7_ad1</value>
            </setting>
            <setting name="caption_button" serializeAs="String">
                <value>Active Click</value>
            </setting>
            <setting name="path_app_find_class" serializeAs="String">
                <value>D:\FlaUInspect\src\FlaUInspect\bin\FlaUInspect.exe</value>
            </setting>
            <setting name="name_login" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>vuletech@123</value>
            </setting>
        </NetCore.Properties.Settings>
    </userSettings>
</configuration>